.contactFormContainer {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 15px;
}

.contactFormTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.contactFormTitle {
    color: var(--white);
    font-size: 22px; 
}

.contactFormBottomPartContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 10px;
}

.contactInfoContainer {
    background-color: rgba(129,144,160,0.13);
    padding: 20px 30px 55px 30px;
    width: 100%; 
    max-width: 380px; 
}

.socialMediaContainer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.socialMediaContainer p {
    margin-top: 10px;
    font-size: 14px;
}

.socialMediaIcons {
    margin: 15px 0;
    display: flex;
    gap: 10px;
}

.socialMediaIcons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px;
    border: 1px solid var(--purple);
    border-radius: 5px;
    background-color: var(--purple);
    padding: 8px; 
}

.socialMediaIcons a i {
    color: var(--white);
    font-size: 20px;
}
  
.contactForm {
    width: 100%; 
    max-width: 380px; 
    display: flex;
    flex-direction: column;
    margin: 0 auto 20px auto;
    background-color: rgba(129,144,160,0.13);
    padding: 25px;
}

.nameInput, .emailInput, .messageInput {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.label {
    color: var(--white);
    font-size: 14px;
    margin: 10px 0 5px 0;
}

.input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(86,104,113,0.53);
    background-color: rgba(129,144,160,0.13);
    font-size: 16px;
    font-weight: 300;
    color: var(--white);
    padding: 8px;
    border-radius: 5px; 
    margin-bottom: 10px;
}

.submitButton {
    width: 100%;
    height: 40px;
    background-color: var(--purple);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* 🔹 Adjust for tablets (Min 600px) */
@media screen and (min-width: 600px) {
    .contactForm {
        max-width: 500px;
    }
    .contactFormTitle {
        font-size: 40px;
    }
    .socialMediaIcons a {
        width: 45px;
        height: 45px;
    }

    .socialMediaContainer {
        align-items: start;
    }
}

/* 🔹 Adjust for larger screens (Min 900px) */
@media screen and (min-width: 900px) {
    .contactFormBottomPartContainer {
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
    }

    .contactForm {
        max-width: 500px;
    }
}
