.aboutUsContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 70%;
    margin: 0 auto;
}

.aboutUsHeader {

}

.aboutKeyWords {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.keyWordsWithIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
}

.aboutKeyWords i {
    color: var(--purple);
    font-size: 40px;
    margin-right: 20px;
}