.skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 30px 0;
    background-color: #101C26;
}

.skillCard {
    display: flex;
}

.skillText h4 {
    font-weight: 400;
}

.skillText p {
    font-size: 14px;
    color: rgba(158,199,217,1);
    font-weight: 300;
}

.skillCard i {
    color: var(--purple);
    font-size: 23px;
}