.articleTagsContainer {
    width: 335px;
    margin: 20px auto 0 auto;
}

.articleTagsContainer h4 {
    font-size: 1.2rem;
    color: var(--white);
    margin-bottom: 0.5rem;
}

.tagItem {
    margin: 0.5rem 0 0.5rem 0;
}

.tagItem p:hover {
    color: var(--purple);
    cursor: pointer;
}