.articleContainer {
    margin: 10px;
    border: 1px solid var(--white);
    border-radius: 10px;
    width: 300px;
    height: 490px;
    max-height: 500px;
}

.articleImageWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: 200px;
  }

.articleImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease;
    display: block;
}

.articleAuthor {
  font-style: italic;
}

  .articleCategory {
    color: var(--textBlue);
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
  }

.articleImageWrapper::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.8s ease;
    border-radius: 10px;
    z-index: 1;
  }

  .articleImageWrapper:hover .articleImage {
    transform: scale(1.1);
  }
  
  .articleImageWrapper:hover::after {
    background-color: rgba(0, 0, 0, 0.45);
  }

.articleTextContent {
    padding: 15px;
}

.articleTextContent h3 {
    font-size: 18px;
}

.articleDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;       /* 🔥 Limits text to 2 lines */
  -webkit-box-orient: vertical;
  color: var(--textBlue);
  font-size: 1rem;
  margin-bottom: 20px;
}

.articleDescription h1,
.articleDescription h2,
.articleDescription h3,
.articleDescription h4,
.articleDescription h5,
.articleDescription h6,
.articleDescription p {
  font-size: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: var(--textBlue);
}

.articleHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.articleButton {
    background-color: var(--purple);
    color: var(--white);
    padding: 6px 15px;
    font-size: 15px;
}