.servicesFormContainer {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .servicesFormContent {
    max-width: 1200px;
    margin: 30px auto;
  }
  
  .servicesFormTextContent {
    text-align: center;
  }
  
  .servicesFormTextContent h2 {
    font-size: 1.625rem;
    margin-bottom: 1rem;
  }
  
  .servicesFormTextContent p {
    font-size: 1rem;
    color: rgba(158,199,217,1);
  }
  
  .servicesFormWrapper {
    padding: 30px;
    border-radius: 8px;
  }
  
  .servicesFormWrapper h3 {
    margin-bottom: 20px;
    font-size: 1.625rem;
    font-weight: 400;
  }
  
  .servicesForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .servicesForm label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-bottom: .5rem;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: var(--white);
  }

  .servicesForm input {
    width: 100%;
    height: 41px;
    border: 1px solid #ccc;
    background-color: rgba(129,144,160,0.13);
    color: var(--white);
  }

  .servicesForm textarea {
    width: 100%;
    height: 270px;
    border: 1px solid #ccc;
    background-color: rgba(129,144,160,0.13);
    color: var(--white);
  }
  
  .servicesForm input 
  textarea {
    padding: 8px 11px 6px;
    border-radius: 5px;
    width: 100%;
    font-size: 17px;
    font-weight: 300;
    background: transparent;
  }
  
  .servicesForm button {
    padding: 12px 20px;
    background-color: var(--purple);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    height: 42px;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .servicesForm button {
      width: 160px;
    }
}