.homeMainContainer {

}

.typewriterContainer {
    height: 100vh;
    text-align: center;
    margin-top: 20vh;
}

.subtitle {
    margin-top: 2rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 200;
    line-height: 49px;
}
