.printingForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
}

.printingFormGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.printingFormGroup label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: start;
    width: 100%;
    max-width: 885px;
    color: var(--textBlue);
}

.printingFormGroup input {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: rgba(129,144,160,0.13);
    color: var(--white);
    width: 100%;
    max-width: 885px;
}

.printingFormGroup input::placeholder {
    color: var(--white);
}

.printingFormGroup textarea::placeholder {
    color: var(--white);
}

.printingFormGroup input[type="date"] {
    color: var(--white);
}

.printingFormGroup textarea {
    font-size: 1.2rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color:rgba(129,144,160,0.13);
    color: var(--white);
    width: 100%;
    max-width: 885px;
    height: 300px;
}

.printingFormGroup .file {
    background-color: transparent;
    color: var(--white);
    border: 0.2px solid var(--white);
}

.printingFormButton {
    background-color: var(--white);
    color: var(--white);
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 1px solid var(--white);
    cursor: pointer;
    margin-top: 1rem;
    background-color: var(--purple);
    width: 100%;
    max-width: 885px;
}

.printingFormButton:hover {
    background-color: #54595F;
    border: 1px solid var(--purple);
}

.printingFormSelect {
    width: 100%;
    max-width: 885px;
    margin: 5px 0 10px 0;
}

.printingFormSelect select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: rgba(129,144,160,0.13);
    color: var(white);
    border: 0.2px solid var(--white);
    cursor: pointer;
    width: 100%;
    max-width: 885px;
}

.printingFormRadio {
    display: flex;    
    width: 100%;
    max-width: 885px;
    gap: 20px; 
    margin: 5px 0 10px 0;
  }
  
  .printingFormRadioGroup {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .printingFormRadioGroup input[type="radio"] {
    margin-bottom: 5px;
  }
  
  .printingFormRadioGroup label {
    font-size: 16px;
    font-weight: normal;
  }